# Use this purely as a sample. Replace the variables with your values.
IGDB_API_KEY= "YOUR_API_KEY"
PG_DATABASE= "YOUR_DATABASE_NAME"
PG_USERNAME = "YOUR_PG_USER_NAME"
PG_PORT= "YOUR_PORT"
PG_HOST= "YOUR_PG_HOST"
PG_PAsSWORD = "YOUR_PG_PASSWORD"